<header>
    <div class="headerContainer">
        <h1 translate="no">{{appName}}</h1>
        <div class="profileContainer">
            <img src="{{dev.profile}}" alt="" class="profilePicture">
            <div class="profileDetails">
                <h2>{{dev.name}}</h2>
                <p>{{dev.work}}</p>
            </div>
        </div>
    </div>
    <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/**">Cont</a>
    </nav>
</header>
