main{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background: #000; */
}
i{
    font-size: 5rem;
    color: #c8c8c8;
    transition: all 0.3s ease;
    animation: building 0.5s ease-in-out infinite alternate;
}
@keyframes building {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
p{
    font-size: 2rem;
    font-weight: 600;
    color: #c8c8c8;
}