<main>
    <section class="personInfo">
        <div>
            <h2>Bonjour, moi c'est</h2>
            <h2>{{person.name}}</h2>
            <p>Je suis {{person.job}}</p>
        </div>
        <ul>
            <li>
                <a href="https://github.com/Nathan-Sasa" target="_blank">
                    <i class="ri-github-fill"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/nathan-sasa?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/+243825854332?text=hello%20nathan%20je%20besoin%20de%20tes%20services" target="_blank">
                    <i class="ri-whatsapp-line"></i>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/jonathan.bikuta.05" target="_blank">
                    <i class="ri-facebook-fill"></i>
                </a>
            </li>
        </ul>
        <div class="btnContact">
            <button>Contacter moi</button>
        </div>

    </section>
    <section class="personPortfolio">
        <div>
            <img src="https://i.ibb.co/qYdbNcbd/Adobe-Express-file.png" alt="Adobe-Express-file" >
        </div>
    </section>
</main>
